@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using CaptchaWebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Captcha Generator Web API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page" style="color:white">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                This page will show you How to make Web calls, parameter types and expected return type.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix" style="color:black">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
